html
  head
    title
      | Login - Group Management
  body
    if (message)
      h4 #{message}
    form(action = "/login" method = "POST")
      input(name = "email_or_account_name" type = "text" required placeholder = "Email or account name")
      input(name = "password" type = "password" required placeholder = "Password")
      button(type = "Submit") Login!
    a(href="/signup") Signup