html
  head
    title
      | Signup - Group Management
  body
    if (message)
      h4 #{message}
    form(action = "/signup" method = "POST")
      input(name = "name" type = "text" required placeholder = "Account name")
      input(name = "email" type = "email" required placeholder = "Email")
      input(name = "password" type = "password" required placeholder = "Password")
      button(type = "Submit") Sign me up!